.template {
  color: #7B7B7B;
  color: #636363;
  color: #3F3F3F;
  color: #252525;
  color: #0B0B0B;

  color: #96D1FE;
  color: #64BBFE;
  color: #199CFF;
  color: #0081E4;
  color: #0063B0;

  color: #4F91DC;
  color: #2978D0;
  color: #1D5491;
  color: #133A65;
  color: #0A2039;

  color: #92e5e6;
  color: #6ad3de;
  color: #2ec8d2;
  color: #239fa7;
  color: #19777b;

  color: #ddfcf4;
  color: #aff8e6;
  color: #6af3cb;
  color: #3aefb2;
  color: #12e3a6;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #252525;
  height: 100%;
  line-height: 1.8;
}

a, a:visited {
  color: #199CFF;
}

a:hover {
  color: #0081E4;
}

::selection {
  color: #fff;
  background-color: #0081E4;
}

/**
 * ------------------------------------------------------------------
 * Fix weird UL padding for all instances
 */

ul {
  list-style: none;
}

ul.pad {
  list-style: disc;
  padding-left: 40px;
}

ul.light-pad {
  list-style: disc;
  padding-left: 20px;
}

ul.light-spacing li {
  padding-bottom: 10px;
}

li.pad-below {
  padding-bottom: 20px;
}

li.pad-above {
  padding-top: 20px;
}

/**
 * ------------------------------------------------------------------
 * Design mode class
 */

.design-mode {
  background-color: rgba(50, 50, 50, .5);
  border: 1px solid red;
}

/**
 * ------------------------------------------------------------------
 * Hero
 */

.hero {
  min-height: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #3f3f3f;
  color: #fff;
  padding: 20px 20px;
}

.below-hero {
  min-height: 100%;
}

.headshot {
   height: auto;
   width: 400px;
   max-width: 70%;
}

.name {
  font-weight: bold;
  padding: 30px 0px 10px 0px;
  font-size: 3em;
  color: #199CFF;
}

.below-name {
  text-transform: lowercase;
  text-align: left;
  color: #96D1FE;
  max-width: 150px;
  margin: 0 auto;
  padding: 10px 10px 30px 10px;
  font-size: 1.5em;
  font-weight: bold;
}

/**
 * ------------------------------------------------------------------
 * Hero icons
 */

.center {
  margin: 0 auto;
  text-align: center;
}

.icons {
  padding-top: 10px;
}

.list-inline {
  display: inline;
  margin: 0 auto;
}

.list-inline li {
  display: inline-block;
  padding: 0px 5px 10px 5px;
}

.icons .list-inline li a {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  border: 1px solid #7B7B7B;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  color: #7B7B7B;
  transition: all .3s ease-in-out;
}

.icons .list-inline li a:hover {
  color: #199CFF;
  background-color: #fff;
  border: 1px solid #fff;
}

/**
 * ------------------------------------------------------------------
 * Right pane blocks
 */

.content {
  padding: 0;
}

.block {
  color: #bbb;
  width: 100%;
  min-width: 100%;
  padding: 60px;
}

.block-1, .block-3, .block-5 {
  background: #252525;
}

.block-2, .block-4 {
  background: #0B0B0B;
}

.block-1 > h2 {
  color: #96D1FE;
}

.block-2 > h2 {
  color: #199CFF;
}

.block-3 > h2 {
  color: #96D1FE;
}

.block-4 > h2 {
  color: #199CFF;
}

.block-5 > h2 {
  color: #96D1FE;
}

.block > h2 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.block > h2 .big-number {
  font-size: 2.5rem;
  padding-right: 10px;
  display: inline-block;
}

/**
 * ------------------------------------------------------------------
 * Experience list
 */

.block-3 .timeline {
  border-left: 4px solid #96D1FE;
  background: rgba(0, 0, 0, 0.3);
}

.block-3 .timeline .event:after {
  box-shadow: 0 0 0 4px #96D1FE;
}

.timeline {
  border-left: 4px solid #199CFF;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.8);
  margin-left: 130px;
  position: relative;
  padding: 30px;
  max-width: 600px;
  list-style: none;
  text-align: left;
}

.timeline h1 {
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: bold;
  font-size: 1.3em;
  font-style: italic;
}

.timeline .event-title-box:hover {
  filter:  url(#highlight1);
}

.block-3 .timeline .event-title-box:hover {
  filter:  url(#highlight2);
}

.timeline h3 .subtitle {
  font-weight: normal;
  font-size: 0.8em;
}

.timeline .event {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  min-height: 80px;
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -177.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

.timeline .event:after {
  box-shadow: 0 0 0 4px #199CFF;
  left: -37.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.event-title-box {
  display: table;
  margin-bottom: 10px;
  vertical-align: middle;
}

.event-img {
  width: 80px;
  margin-right: 20px;
}

.event-title {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

/**
 * ------------------------------------------------------------------
 * Contact Form
 */

form.contact-form {
  max-width: 725px;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 4;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none!important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 3;
  position: relative;
  top: 2em;
  margin: 20px 0px 0px 0px;
  font-size: .85em;
  line-height: 0.5em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top .3s ease,opacity .3s ease;
  -moz-transition: top .3s ease,opacity .3s ease;
  -ms-transition: top .3s ease,opacity .3s ease;
  transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #199CFF;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}

.form-control:focus {
  background: inherit;
  color: #fff;
}

div#success {
  margin-top: 10px;
}

.btn-block {
  border-radius: 0;
  width: 100%;
  display: inline-block;
  margin-left: 20px;
}

.g-recaptcha {
  display: inline-block;
}

.flex-form {
  display: flex;
  flex-direction: row;
  distribute: stretch;
  margin-top: 20px;
}

/**
 * ------------------------------------------------------------------
 * RSS
 */

h2 a:hover, h3 a:hover {
  text-decoration: none;
}

.feed-post {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  margin: 30px 0px 30px 0px;
}

br.clear {
  clear: both;
}

.feed-post > h3 {
  font-size: 1.4em;
  font-weight: bold;
}

.feed-post > h3.date {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
  color: #555;
}

.teaser {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.teaser img {
  width: 250px;
}

/**
 * ------------------------------------------------------------------
 * Footer
 */

.footer {
  background: #252525;
  color: #96D1FE;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.footer-text {
  vertical-align: middle;
}

/**
 * ------------------------------------------------------------------
 * Responsiveness
 */

@media (max-width: 875px) , (max-height: 650px) {

  .hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    height: auto!important;
  }

  .below-hero {
    min-height: 0px;
    height: 0px;
  }

  .content {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .block {
    padding: 40px;
  }

  .timeline {
    margin-left: 30px;
  }

  .timeline .event {
    font-size: 0.9em;
  }

  .timeline .event:before {
    top: 20px;
    left: -95.5px;
    min-width: 50px;
    transform: rotate(-90deg);
  }

  .timeline .event:after {
    left: -37.85px;
  }

  .event-title {
    margin-top: 0px;
  }

  form.contact-form {
    max-width: 625px;
  }

  .flex-form {
    display: block;
  }

  .btn-block {
    display: block;
    margin: 20px 0px 0px 0px;
  }

  .g-recaptcha {
    display: block;
  }

}

@media (max-width: 450px) {

  .teaser {
    float: none;
    width: 100%;
  }

  .teaser img {
    width: 100%;
  }

}

/**
 * ------------------------------------------------------------------
 */
