.template {
  color: #7B7B7B;
  color: #636363;
  color: #3F3F3F;
  color: #252525;
  color: #0B0B0B;

  color: #96D1FE;
  color: #64BBFE;
  color: #199CFF;
  color: #0081E4;
  color: #0063B0;

  color: #4F91DC;
  color: #2978D0;
  color: #1D5491;
  color: #133A65;
  color: #0A2039;

  color: #92e5e6;
  color: #6ad3de;
  color: #2ec8d2;
  color: #239fa7;
  color: #19777b;

  color: #ddfcf4;
  color: #aff8e6;
  color: #6af3cb;
  color: #3aefb2;
  color: #12e3a6;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}

a, a:visited {
  color: #199CFF;
}

a:hover {
  color: #0081E4;
}

::selection {
  color: #fff;
  background-color: #0081E4;
}

/**
 * ------------------------------------------------------------------
 * Fix weird UL padding for all instances
 */

ul.pad {
  padding-left: 40px;
}

/**
 * ------------------------------------------------------------------
 * Design mode class
 */

.design-mode {
  background-color: rgba(50, 50, 50, .5);
  border: 1px solid red;
}

/**
 * ------------------------------------------------------------------
 * Hero
 */

.hero {
  min-height: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #3f3f3f;
  color: #fff;
  padding: 20px 20px;
}

.below-hero {
  min-height: 100%;
}

.headshot {
   height: auto;
   width: 400px;
   max-width: 70%;
}

.name {
  text-transform: lowercase;
  font-weight: bold;
  padding: 30px 0px 10px 0px;
  font-size: 3em;
  color: #199CFF;
}

.below-name {
  text-align: left;
  color: #aff8e6;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 10px 30px 10px;
  font-size: 1.5em;
  font-weight: bold;
}

/**
 * ------------------------------------------------------------------
 * Hero icons
 */

.center {
  margin: 0 auto;
  text-align: center;
}

.icons {
  padding-top: 10px;
}

.list-inline {
  display: inline;
  margin: 0 auto;
}

.list-inline li {
  display: inline-block;
  padding: 0px 5px 10px 5px;
}

.icons .list-inline li a {
  width: 47px;
  height: 47px;
  border-radius: 100%;
  border: 1px solid #7B7B7B;
  padding: 10px;
  display: inline-block;
  color: #7B7B7B;
  transition: all .3s ease-in-out;
}

.icons .list-inline li a:hover {
  color: #199CFF;
  background-color: #fff;
  border: 1px solid #fff;
}

/**
 * ------------------------------------------------------------------
 * Right pane blocks
 */

.content {
  padding: 0;
}

.block {
  color: #bbb;
  width: 100%;
  min-width: 100%;
  padding: 40px;
  text-align: justify;
}

.block-1, .block-3 {
  background: #252525;
}

.block-2, .block-4 {
  background: #0B0B0B;
}

.block-1 > h2 {
  color: #3aefb2;
}

.block-2 > h2 {
  color: #2978D0;
}

.block-3 > h2 {
  color: #6ad3de;
}

.block-4 > h2 {
  color: #199CFF;
}

.block > h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.block > h2 .big-number {
  font-size: 3em;
  width: 140px;
  display: inline-block;
}

/**
 * ------------------------------------------------------------------
 * Experience list
 */

 .timeline-content {
  text-align: center;
}

.timeline {
  border-left: 4px solid #2978D0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  /* margin: 0px auto; */
  margin-left: 150px;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  /* max-width: 50%; */
}
.timeline h1 {
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #2978D0;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/**
 * ------------------------------------------------------------------
 * Footer
 */

.footer {
  background: #252525;
  color: #aff8e6;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

/**
 * ------------------------------------------------------------------
 * Responsiveness
 */

@media (max-width: 825px) , (max-height: 650px) {

  .hero {
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    height: auto!important;
  }

  .below-hero {
    min-height: 0px;
    height: 0px;
  }

  .content {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

}

/**
 * ------------------------------------------------------------------
 */
